@import url('./constants.css');

.main__heading {
  margin-top: 70px;
}

.section {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px;
}

.navbar__title {
  font-size: 2em;
  margin: 10px 0px 10px 10px;
}

.navbar__link {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px;
  margin: 10px;
}

.navbar__link:hover {
  color: blue;
}
